@{
    ViewData["Title"] = "About"; //pode ter código c# aqui
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<p>Vendedor @ViewData["Professor"].</p>

<address>
    <strong>More information: </strong> <a href="wwww.MVCSales.com.br">www.MVCSales.com.br</a>
</address>
